<% include ./partials/head.ejs %> <% if (locals.accountDetails) { %>
<div class="border">
    <a class="logo">Monai</a>
</div>
<div class="border">
    <div class="container">
        <h2 class="small-title">Volgende uitbetaling</h2>
        <h3 class="value">24 mei</h3>
    </div>
</div>

<div class="border">
    <h1>Account Overview</h1>
    <h2>Rekeningnummer</h2>
    <p><%= accountDetails.accountNumber %></p>
    <h2>Saldo</h2>
    <p><%= accountDetails.amount %> <%= accountDetails.currency %></p>
    <p>
        <% } %> <% if (locals.transactions) { %>
    </p>

    <h1>Transactions</h1>
    <ul>
        <% transactions.forEach(function(transaction) { %>
        <li><%= transaction.amount %> - <%= transaction.bookDate %></li>
        <% }); %>
    </ul>
</div>
<% } %> <% include ./partials/foot.ejs %>
